 <div class="footer">
    <div class="container ">
        <div class="footer-widgets-wrap">
            <div class="row col-mb-50">
                <div class="col-lg-8">
                    <div class="row col-mb-50 align-items-center">
                        <div class="col-md-4">
                            <div class="widget "> <img src="assets/mabrains_logo.svg" alt="Mabrains Logo"
                                    class="footer-logo w-100"> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget">
                                <div
                                    style="background: url('/static/images/world-map.png') no-repeat center center; background-size: 100%;">
                                    <address> <strong>Headquarter:</strong><br> 33 Helipolis Gardens,<br> Second
                                        Floor<br> Sheraton, Helipolis, Cairo, Egypt<br> </address> <abbr
                                        title="Phone Number"><strong>Phone: </strong></abbr> +20-220650226<br> <abbr
                                        title="Fax"><strong>Fax: </strong></abbr> +20-220650310<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="backgroundfooter text-center text-white">
    <p>Copyrights © 2023 All Rights Reserved by Mabrains LLC</p>
    <p>Terms of Use / Privacy Policy</p>
</div> 



    