.k{
    background-image: url(../../assets/Screen-shot-2021-08-11-at-12.26.32.png);
 
    background-position: center;
    background-size: cover;

}

.footer{
   background-color: #343A40;
}
.backgroundfooter{
    background-color: #2A2E33;
}